*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
}

.slider__navi {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 999;
}

.slider__navi a {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
	background: rgba(255,255,255,1);
}

html {
	overflow: hidden;
}

body {
	position: relative;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	min-height: 100vh;
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--sub {
	font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
}

.text--big {
	font-family: 'Abril Fatface', sans-serif;
	font-size: 5em;
	font-weight: 100;
	line-height: 80px;
  margin-left: 0px;
  margin-top: 10px;
}

.text--normal {
	font-family: "Inter", sans-serif;
	font-weight: 100;
	font-size: 15px;
	color: #fefeff;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 0px;
}

.text__background {
	pointer-events: none;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	left: 50px;
	bottom: 0px;
	color: rgba(0,0,0,0.05);
	font-size: 110px;
	font-weight: 700;
}

.flex__item {
	height: 100vh;
	color: #fefeff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 65%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 35%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
	background: #3e9fe6;
}

.flex--piplup .flex__item--right {
	background: #d3eaef;
}

/* Innovate */

.flex--innovate .flex__item--left {
	background: #47c5b0;
}

.flex--innovate .flex__item--right {
	background: #99df92;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
	background: #ea3f24;
}

.flex--blaziken .flex__item--right {
	background: #ffebcd;
}

/* Dialga */

.flex--dialga .flex__item--left {
	background: #476089;
}

.flex--dialga .flex__item--right {
	background: #ade8f7;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
	background: #424242;
}

.flex--zekrom .flex__item--right {
	background: #a7bcbb;
}

/* Ad */

.flex--ad .flex__item--left {
	background: #e76f51;
}

.flex--ad .flex__item--right {
	background: #f4ecc5;
}


.flex--ad1 .flex__item--left {
	background: #eeb860;
}

.flex--ad1 .flex__item--right {
	background: #f2a65a;
}


.flex__content {
	margin-left: 30px;
	padding-right: 30px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
	overflow: scroll;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

.flex__content::-webkit-scrollbar{
	width: 7px;
}

.flex__content::-webkit-scrollbar-thumb{
	background-color: #fefeff;
}

.banda__img {
	position: absolute;
	bottom: 20px;
	right:5%;
	width: 27vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .banda__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .banda__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}